---
import about from "../../contents/about.yaml";
---

<section
  class="container text-base-100 py-8 mx-auto max-w-2xl flex flex-col items-center justify-center"
>
  <h2 class="text-4xl text-secondary font-bold text-center">
    {about.about_title}
  </h2>
  <p class="mt-4 text-lg text-center whitespace-pre-wrap">
    {about.about_description}
  </p>
</section>
