---
import "../styles/global.css";
const { title = "Home" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Abhi Shah Personal Portfolio</title>
  </head>
  <body data-theme="cupcake">
    <slot />
  </body>
</html>
